*{
    padding: 0;
    margin: 0;
}
main {
    padding: 5%;
    background-color: #EDEDED;
}
header{
    width: 100vw;
    height: 50vh;
    background-image: url('lampos-aritonang-24gR_9lCdes-unsplash 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1, h2{
    font-family: Anton;
    font-size: 18px !important;
}


h3{
    font-family: Manrope;
    color: #7A7A7A;
    text-transform: uppercase;
    font-size: 12px!important;
}

p{
    font-family: Manrope;
    font-size: 14px;
}

/* header */

.logo_container {
    width: 35%;
    position: absolute;
    top: 4%;
    left: 4%;
}

.header_title {
    color: #FFD15B;
    width: 45%;
    text-align: center;
}

.input-group.search-bar {
    width: 80%;
    height: 10%;
}

.input-group-append {
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-110%);
    z-index: 1000;
}

/* header */

/* filtre */

.forms_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
/* filtre */

.recipe-container{
    width: 23rem;
    height: 730px;
    background-color: white;
    margin-bottom: 5%;
}

.recipe-content{
    padding: 1%;
}

.name-ingredients{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recipe-content_container-ingredients{
    display: flex;
    flex-wrap: wrap;
}

.quantity-ingredients{
    color: lightgrey;
} 

.recipe-media{
    height: 253px;
    object-fit: cover;

}