* {
  padding: 0;
  margin: 0;
}
main {
  padding: 5%;
  background-color: #ededed;
}
header {
  width: 100vw;
  height: 50vh;
  background-image: url('/assets/header_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font-family: Anton;
  font-size: 18px !important;
}

h3 {
  font-family: Manrope;
  color: #7a7a7a !important;
  text-transform: uppercase;
  font-size: 12px !important;
}

p {
  font-family: Manrope;
  font-size: 14px;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

/* header */

.logo_container {
  width: 35%;
  position: absolute;
  top: 4%;
  left: 4%;
}

.header_title {
  color: #ffd15b;
  width: 45%;
  text-align: center;
}

.input-group.search-bar {
  width: 80%;
}

.search-btn:hover {
  background-color: #ffd15b !important;
  color: #1b1b1b !important;
}

.reset-icon {
  display: none !important;
  font-size: 20px !important;
  position: absolute;
  right: 150px;
  top: 30px;
  width: 15px;
  height: 20px;
  color: #7a7a7a !important;
  z-index: 1000;
}

.reset-icon.show {
  display: block !important;
}

.btn-primary {
  width: 5vh;
  height: 5vh;
  margin: 1% auto;
  transform: translateX(-110%);
  border: none !important;
}

.btn-secondary {
  width: 40%;
  height: 3vw;
  background-color: white !important;
  color: #1b1b1b !important;
  font-family: Manrope !important;
  border: none !important;
}

.fa-search {
  font-size: 150%;
}

.input-group .btn {
  border-radius: 10px 10px 10px 10px !important;
  z-index: 1000 !important;
  background-color: black;
}

/* filtre */
.fa-angle-down {
  margin-left: 10%;
}

.dropdown-toggle::after {
  display: none !important;
}

.filters {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
/* block avec le nombre de recette + les dropdown des filtres */
.filters_dropdown_nbr-recipes {
  width: 100%;
  margin-bottom: 2%;
}

/* les conteneurs des dropdown et du nombre de recette */
.btn.dropdown-toggle {
  width: 195px;
  height: 56px;
  background-color: white !important;
  color: black;
  font-family: Manrope !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.fa-solid.fa-angle-down {
  margin-left: 10%;
}

.fa-solid.fa-angle-up {
  margin-left: 10%;
}

.filters_dropdown_container {
  margin-right: 10%;
}

.filters_nbr-recipes_container {
  margin-left: 20%;
  font-family: Anton;
  font-weight: bold;
  font-size: 21px !important;
}

/*  conteneur des tag selectionnés */
.filters_selected-tag {
  width: 20%;
}
/* menu déroulant */
.btn.show:active {
  border: transparent !important;
}
.btn.show:focus {
  border: transparent !important;
}
.btn.show {
  border: transparent !important;
}
.btn:first-child:active {
  border: transparent !important;
}

.btn .dropdown-toggle {
  border-radius: 20%;
}

.fa.clear-icon {
  display: none;
  position: absolute;
  right: 40px;
}
.clear-icon.show {
  display: block;
}

/* .fa.clear-icon {
  display: none;
  left: 67%;
  top: 5.5%;
  position: absolute;
} */
/* menu dropdown */

.dropdown-menu {
  width: 195px;
  max-height: 20vw;
  overflow: scroll;
  height: auto;
}

.dropdown-menu.show {
  border: none;
  transform: translate3d(0px, 48px, 0px) !important;
}

.list-elements-recette li {
  list-style: none;
}

.dropdown-item:hover {
  background-color: #ffd15b !important;
}

.input_recherche_tag_list {
  width: 163px;
  height: 36px;
  border: 1px solid #c6c6c6;
  margin-left: 15px;
}

.loupe-filter {
  position: absolute;
  right: 20px;
  font-size: 15px;
}
/* .loupe-filter {
  position: relative;
  left: 75%;
  bottom: 3.2vh;
  font-size: 15px;
  color: #c6c6c6;
} */

/* tag selectionnés */
.selected-tag_container {
  display: block;
  width: 100%;
  height: 53px;
  margin-bottom: 4%;
}

.selected-tag_items {
  height: 100%;
  width: 150px;
  background-color: #ffd15b;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10%;
}

.selected-tag_items :nth-child(n) {
  margin: 0;
  padding: 0;
}

.btn-close {
  font-size: 70%;
}

/* tag selectionner par la recherche par tag */

.selected-tag {
  width: 100%;
}

/* card recette */

.card-group {
  margin-top: 5%;
}

.recipe-container {
  width: 23rem;
  height: 730px;
  margin-bottom: 5%;
}

.badge {
  font-family: Manrope !important;
  top: 2.5rem;
  right: 2rem;
  background-color: #ffd15b;
  color: black !important;
  font-size: 12px !important;
}

.card-body {
  background-color: white;
  height: 500px;
}
.recipe-content {
  padding: 1%;
}

.name-ingredients {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.recipe-content_container-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.quantity-ingredients {
  color: lightgrey;
}

.recipe-media {
  height: 253px;
  object-fit: cover;
}
